@import url(styles/header.css);
:root{
    --cor-de-fundo: #9949b4;
    --cor-de-cabecalho: #FFFFFF;

}

body{

    margin: 0px;
    padding: 0px;
    background-color: var(--cor-de-fundo);

}